body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    /* Overwrite the default margin and padding */
    margin: 0;
    padding: 0;
}

ul {
    /* Remove the default formatting for uls */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

a {
    /* Remove underlines on links */
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 0 10%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-main {
    display: flex;
    padding: 5% 0;
}

.hero-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button {
    background-color: #3882F6;
    color: white;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;  
}

.hero-button {
    border: none;
}

.information-header {
    display: flex;
    flex-direction: column;
}

.information-header > .header {
    align-self: center;
    margin-top: 2%;
}

.information-header > .contents {
    display: flex;
    margin: 0 2% 2%;
}

.movement {
    width: 15%;
    height: auto;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
}

.movement > img {
    width: 50%;
    height: 40%;
    object-fit: cover;
    border: 5px solid #1F2937;
    border-radius: 8px;
}

a {
    display: block;
    font-size: smaller;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author {
    
}

